@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* --------------------------------------------
  * 공통 클래스 */

  .reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    border: none;
  }
  
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    top: -9999em;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .respons{
    max-width: 100%;
    height: auto;
  }

  ::-moz-selection {
    background: #233d84;
    color: #ffffff;
  }
  
  ::selection {
    background: #233d84;
    color: #ffffff;
  }

  html{
    font-size: 10px;
  }
    body * {
      -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
      tap-highlight-color: rgba(255, 255, 200, 0.3);
    }
    
    body {
      margin: 0 
      min-height: 100vh;
      font-family: 'Spoqa Han Sans', 'Sans-serif';
      font-size: 1.6rem;
    }
    
    nav a {
      color: inherit;
      text-decoration: none;
    }
    
    a img {
      vertical-align: middle;
    }

  /* 헤더 디자인 */
    .app-header{
      background-color: #ffffff;
      border-bottom: 1px solid #f5f4fb;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: nowrap;
    }
/* 브랜드 로고 */
    .brand {
      padding: 2px;
      margin: 0;
      line-height: 16px;
    }

    .brand a{
      display: block;
      padding: 30px;
    }
      
    /* 메인메뉴 열기 버튼 */

   .is-open-menu{
      background: #ffffff;
      padding: 33px 28px;
    }
   .is-open-menu .ir {
      display: inline-block;
      width: 26px;
      height: 22px;
      background: url(../images/navigation-button.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
/* 네이게이션 */
.app-navigation{
  background-color: rgb(42, 42, 45);
  opacity: 0.9;
  color:#ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
  transition: all 0.6s cubic-bezier(0.66, -0.01, 0.3, 0.99);
  transform: translateX(105vw);
}

.app-navigation.is-active {
  transform: translateX(0);
}


.button.is-close-menu{
order: -1;
padding: 18px;
background-color: transparent;
color: #ffffff;
}

.app-navigation ul{
  width: 100%;
  margin-top: 10px;
}

.app-navigation li{
  border-bottom: 1px solid hsla(225, 67%, 94%, 0.5);
}

.app-navigation a{
  display: block;
  padding: 10px;
  transition: all 0.4s ease;
}

.app-navigation a:hover,
.app-navigation a:focus {
  background: #2e437c;
  color: rgb(255, 183, 89);
}


      
